
<table>
    <tr>
        <td style="text-align: center;"><h2>Prototype</h2></td>
        <td style="text-align: center;"><h2>File</h2></td>
    <tr style="width: 100%;">
        <td style="width: 50%;">
            <ace-editor
               [(text)]="prototype" style="min-height: 200px; width:100%; overflow: auto;">
           </ace-editor>
        </td>
        <td style="width: 50%;">
            <ace-editor
               [(text)]="validate" style="min-height: 200px; width:100%; overflow: auto;">
           </ace-editor>
        </td>`
    <tr>
        <td style="width: 50%;">
            <ul style="list-style: none;">
                <li class="red" *ngFor="let err of getVErrors()">{{err}}</li>
                <li class="green" *ngIf="!getVErrors()">No errors!</li>
            </ul>
        </td>
        <td style="width: 50%;">
            <ul style="list-style: none;">
                <li class="red" *ngFor="let err of getPErrors()">{{err}}</li>
                <li class="green" *ngIf="!getPErrors()">No errors!</li>
            </ul>
        </td>
    </tr>
</table>
<div class="bwrapper">
    <button class="button"(click)="doValidation()">Validate Files</button>
</div>
